<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <!--====================== SERVLET =============================-->

    <!--ARTICLE-->
    <!-- List Article-->
    <servlet>
        <servlet-name>ListArticle</servlet-name>
        <servlet-class>api.admin.article.ArticleApi</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListArticle</servlet-name>
        <url-pattern>/api/v1/articles</url-pattern>
    </servlet-mapping>


    <!-- CATEGORY -->
    <!--List Category-->
    <servlet>
        <servlet-name>ListCategory</servlet-name>
        <servlet-class>api.admin.category.CategoryApi</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListCategory</servlet-name>
        <url-pattern>/api/v1/categories</url-pattern>
    </servlet-mapping>

    <!--Create Category-->
    <servlet>
        <servlet-name>CreateCategory</servlet-name>
        <servlet-class>api.admin.category.CategoryApi</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateCategory</servlet-name>
        <url-pattern>/api/v1/category/create</url-pattern>
    </servlet-mapping>

    <!--CRAWLER SOURCE-->
    <!--List Source-->
    <servlet>
        <servlet-name>ListSource</servlet-name>
        <servlet-class>api.admin.source.SourceApi</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListSource</servlet-name>
        <url-pattern>/api/v1/crawler-sources</url-pattern>
    </servlet-mapping>

    <!--Create source-->
    <servlet>
        <servlet-name>CreateSource</servlet-name>
        <servlet-class>api.admin.source.SourceApi</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateSource</servlet-name>
        <url-pattern>/api/v1/crawler-source/create</url-pattern>
    </servlet-mapping>
    
    <!--Get task-->
    <servlet>
        <servlet-name>GetTaskToQueue</servlet-name>
        <servlet-class>api.crawler.GetTaskToQueue</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetTaskToQueue</servlet-name>
        <url-pattern>/task/get</url-pattern>
    </servlet-mapping>

    <!-- Add task -->
    <servlet>
        <servlet-name>AddTaskToQueue</servlet-name>
        <servlet-class>api.crawler.AddTaskToQueue</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddTaskToQueue</servlet-name>
        <url-pattern>/task/add</url-pattern>
    </servlet-mapping>

    <!--====================== END SERVLET =============================-->

    <!-- ***************************************************************** -->

    <!--====================== FILTER =============================-->

    <!--Register class-->
    <filter>
        <filter-name>ObjectifyRegisterFilter</filter-name>
        <filter-class>filter.ObjectifyRegisterFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ObjectifyRegisterFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!--Cors-->
    <filter>
        <filter-name>CorsFilter</filter-name>
        <filter-class>filter.CorsFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CorsFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>

    <!--Objectify-->
    <filter>
        <filter-name>ObjectifyFilter</filter-name>
        <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ObjectifyFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>

    <!--====================== END FILTER =============================-->

</web-app>